---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Default from "../../layouts/Default.astro";

const locale = Astro.currentLocale ?? Astro.preferredLocale ?? "en";
const posts = (await getCollection("blog"))
  .filter((b) => b.id.startsWith(locale))
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<Default>
  <main class="container mx-auto pt-12">
    {!posts.length && <p class="text-center">Work in progress. 👷‍♂️</p>}
    {
      !!posts.length && (
        <section class="columns-md gap-8">
          {posts.map((post) => (
            <div class="w-full break-inside-avoid pb-8">
              <a class="flex flex-col" href={`/blog/${post.slug}/`}>
                {post.data.heroImage && (
                  <Image
                    src={post.data.heroImage}
                    alt={post.data.title}
                    transition:name={`blog-image-${post.slug}`}
                  />
                )}
                <h4>{post.data.title}</h4>
                <p>
                  <FormattedDate date={post.data.publishedAt} />
                </p>
              </a>
            </div>
          ))}
        </section>
      )
    }
  </main>
</Default>
