---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import BackgroundGradient from '../../components/BackgroundGradient.astro'

const posts = (await getCollection('blog')).sort((a, b) => a.data.publishedAt.valueOf() - b.data.publishedAt.valueOf())
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col bg-black text-white">
    <Header />
    <BackgroundGradient />
    <main class="container mx-auto pt-12">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img src={post.data.heroImage} alt={post.data.title} class="w-full object-cover" />
                  <h4>{post.data.title}</h4>
                  <p>
                    <FormattedDate date={post.data.publishedAt} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
