---
import { db, dz, linkTable } from '@wes/db'
import type { GetStaticPaths } from 'astro'

interface Props {
  title: string
  description: string
  ogImage: string
}

const { title, description, ogImage } = Astro.props as Props
const permalink = new URL(Astro.url.pathname, Astro.site).href
const ogImageURL = new URL(ogImage, Astro.site).href
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

export const dynamic = 'force-dynamic'
export const prerender = false

export const getStaticPaths = (async () => {
  const links = await db.query.linkTable.findMany()
  return links.map((link) => ({ params: { linkId: link.id } }))
}) satisfies GetStaticPaths

const { linkId } = Astro.params

if (!linkId) return Astro.redirect('/404', 307)

const links = await db.select().from(linkTable).where(dz.eq(linkTable.id, linkId)).limit(1)

if (!links.length) {
  return notFound()
}

const linkUrl = links[0].url

await db
  .update(linkTable)
  .set({ views: dz.sql`${linkTable.views} + 1` })
  .where(dz.eq(linkTable.id, linkId))

const response = Astro.redirect(linkUrl, 307)
response.headers.set('Cache-Control', 'no-store,no-cache,must-revalidate,max-age=0')
return response
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Font preloads -->
  <link rel="preload" href="/fonts/aachen.woff" as="font" type="font/woff" crossorigin />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={permalink} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImageURL} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={permalink} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImageURL} />
</head>
