---
import { db, dz, linkTable } from '@wes/db'
import type { GetStaticPaths } from 'astro'

interface Props {
  title: string
  description: string
}

const { linkId } = Astro.params
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href

export const dynamic = 'force-dynamic'
export const prerender = false

export const getStaticPaths = (async () => {
  const links = await db.query.linkTable.findMany()
  return links.map((link) => ({ params: { linkId: link.id } }))
}) satisfies GetStaticPaths

if (!linkId) return Astro.redirect('/404', 307)

const links = await db.select().from(linkTable).where(dz.eq(linkTable.id, linkId)).limit(1)

if (!links.length) {
  return Astro.redirect('/404', 307)
}
const { title, description, url: linkUrl } = links[0]

await db
  .update(linkTable)
  .set({ views: dz.sql`${linkTable.views} + 1` })
  .where(dz.eq(linkTable.id, linkId))
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Font preloads -->
  <link rel="preload" href="/fonts/aachen.woff" as="font" type="font/woff" crossorigin />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title ?? 'Wés Guima'}</title>
  <meta name="title" content={title ?? 'Wés Guima'} />
  <meta name="description" content={description ?? 'Web Developer'} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title ?? 'Wés Guima'} />
  <meta property="og:description" content={description ?? 'Web Developer'} />
  <meta property="og:image" content={`/${linkId}-og.png`} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={title ?? 'Wés Guima'} />
  <meta property="twitter:description" content={description ?? 'Web Developer'} />
  <meta property="twitter:image" content={`/${linkId}-og.png`} />

  <meta http-equiv="refresh" content={`0;url=${linkUrl}`} />
</head>
